        
        .sectionAddMovie{
            display: flex;
            flex-direction: column;
        }
        input{
            border-radius: 10px;
        }
        .movies{
            display: flex;
            justify-content: center;
            padding: 10px;
        }
        .details{
        margin: 15px;
        border: 2px solid white;
        padding: 10px;
        border-radius: 10px;
        align-content: center;
        }
        .imgDisplay{
            width: 70%;
            height: 150px;
        }
